@import "src/assets/variables";

.muncher-pie-chart {
  width: 15rem;
  height: 15rem;

  .text {
    font-size: .3rem;
    font-weight: bold;
    font-family: $sans-serif-font;
  }

  @media(min-width: $medium-size) {
    width: 20rem;
    height: 20rem;
    .text {
      font-weight: lighter;
    }
  }
}