@import "src/assets/variables";

$tick-font: $sans-serif-font !default;
$legend-font: $sans-serif-font !default;
$bar-font: $sans-serif-font !default;
.muncher-bar-chart {
  .svg-bar-chart {
    width: 91vw;
    @media(min-width: $medium-size) {
      width: 70vw;
    }
    .tick {
      text {
        font-family: $tick-font;
        font-size: .7rem;
      }
    }

    .legend {
      display: none;
    }

    .bar-rectangle:hover {
      opacity: .8;
    }

    .bar-text {
      font-family: $bar-font;
      color: #000;
      font-size: .6rem;

      fill: #000;
    }

    @media(min-width: $medium-size) {
      .legend {
        display: block;

        text {
          font-family: $legend-font;
          font-size: .6rem;
          text-transform: capitalize;
        }
        .legend-title {
          font-size: .7rem;
          font-weight: bold;
          text-transform: capitalize;
        }
      }
    }

  }


}